<table>
<tr>
<td width=15%><img src="https://www.nitrkl.ac.in/assets/images/logo.png"></img></td>
<td><center><h1>National Institute of Technology
Rourkela, Odisha, India, 769008</h1><h2>Department of Computer Science Engineering</h2></center></td>
</tr>
<tr><td colspan=2><center><h3>Lab-1: Computer Vision Lab</h3></center></br>
            <center><b>(Assignment-2)</b></center></td></tr>
</table>

_____
**Write a program to print all the Odd numbers between 1 to n**

In [3]:
n=eval(input("Enter a number:"))
for i in range(1,n):
    if(i%2==1):
        print(i)

Enter a number:20
1
3
5
7
9
11
13
15
17
19

______
**Write a program to check whether the entered year is leap year or not**

In [4]:
#Code Here
def leapCheck(year):
    if(year%400==0):
        print("Leap year!")
    elif(year%100==0):
        print("Not leap year")
    elif(year%4==0):
        print("Leap Year!")
    else:
        print("Not a leap year")
y=int(input("Enter a year to check if it is a leap year:"))
leapCheck(y)

Enter a year to check if it is a leap year:2004
Leap Year!

___
**Write a program to print all the numbers between 1 to n which are divisible by 2 or 3 but not by both**

In [6]:
#Code in this cell
def div23(limit):
    for i in range(1,limit):
        if (i%2==0 or i%3==0) and not(i%2==0 and i%3==0):
            print(i)
n=int(input("Enter a number:"))
div23(n)

Enter a number:23
2
3
4
8
9
10
14
15
16
20
21
22

### Great Job!