<table>
<tr>
<td width=15%><img src="https://www.nitrkl.ac.in/assets/images/logo.png"></img></td>
<td><center><h1>National Institute of Technology
Rourkela, Odisha, India, 769008</h1><h2>Department of Computer Science Engineering</h2></center></td>
</tr>
<tr><td colspan=2><center><h3>Lab-1: Computer Vision Lab</h3></center></br>
            <center><b>(Assignment-1)</b></center></td></tr>
</table>

## ROLL:122CS0067

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [1]:
(5*2/1)**2+0.5-.25

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5

In [4]:
print(44,29,34)
print(4*(6+5),4*6+5,4+6*5)
print("float?",type(3+1.5+4))

44 29 34
44 29 34
float? <class 'float'>

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>Answer: float

What would you use to find a numberâ€™s square root, as well as its square?

In [6]:
# Square root:
25**0.5

5.0

In [7]:
# Square:
25**2

625

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [8]:
s = 'hello'
# Print out 'e' using indexing
s[1]

'e'

Reverse the string 'hello' using slicing:

In [9]:
s ='hello'
# Reverse the string using slicing
s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [10]:
s ='hello'
# Print out the 'o'
# Method 1:
print(s[-1])

o

In [11]:
# Method 2:
print(s[len(s)-1])

o

## Lists

Build this list [0,0,0] two separate ways.

In [12]:
# Method 1:
l=[0,0,0]

In [14]:
# Method 2:
l=list("000")

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [15]:
list3 = [1,2,[3,4,'hello']]
list3[-1][-1]='goodbye'
print(list3)

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [16]:
list4 = [5,3,4,6,1]
list4.sort()
print(list4)

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [18]:
d = {'simple_key':'hello'}
# Grab 'hello'
grab=d['simple_key']
print(grab)

hello

In [19]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
grab2=d['k1']['k2']
print(grab2)

hello

In [21]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
grab3=d["k1"][0]['nest_key'][1][0]
print(grab3)

hello

In [22]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
grab4=d['k1'][2]['k2'][1]['tough'][2][0]
print(grab4)

hello

Can you sort a dictionary? Why or why not?<br><br>Answer: No, as dictionaries store UNORDERED key value pairs

## Tuples

What is the major difference between tuples and lists?<br><br>Answer: List are mutable, tuples are not.

How do you create a tuple?<br><br>

## Sets

What is unique about a set?<br><br>Answer: Only unique values can reside in a set.

Use a set to find the unique values of the list below:

In [25]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
uniq=set(list5)
print(uniq)

{1, 2, 33, 4, 3, 11, 22}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [27]:
# Answer before running cell
2 > 3

False

In [28]:
# Answer before running cell
3 <= 2

False

In [29]:
# Answer before running cell
3 == 2.0

False

In [30]:
# Answer before running cell
3.0 == 3

True

In [31]:
# Answer before running cell
4**0.5 != 2

False

Final Question: What is the boolean output of the cell block below?

In [32]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

False